<div class="container takasa">

  <h1><%= @member.last_name %><%= @member.first_name %>さんの会員詳細</h1>

  <div class="row">
    <%= form_for(@member, url:admin_member_path) do |f| %>
    <div class="col-xs-10">
      <div class="field">
        <%= f.label :会員ID ,class: "col-xs-3"%>
        <%= f.text_field :id, autofocus: true, autocomplete: "id"%>
      </div><br>

      <div class="field">
        <%= f.label :氏名 ,class: "col-xs-3"%>
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
      </div><br>

      <div class="field">
        <%= f.label :フリガナ,class: "col-xs-3" %>
        <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %>
        <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %>
      </div><br>

      <div class="field">
        <%= f.label :郵便番号 ,class: "col-xs-3"%>
        <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code"%>
      </div><br>
      <div class="field">
        <%= f.label :住所 ,class: "col-xs-3"%>
        <%= f.text_field :address, autofocus: true, autocomplete: "address" ,size: "50"%>
      </div><br>


      <div class="field">
        <%= f.label :電話番号 ,class: "col-xs-3"%>
        <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number"%>
      </div><br>

      <div class="field">
        <%= f.label :メールアドレス ,class: "col-xs-3"%>
        <%= f.email_field :email, autofocus: true, autocomplete: "email"%>
      </div><br>
      <!-- ラジオボタンの記述 -->
      <div class="field text-left">
        <label><%= f.radio_button :withdrawal_status, "有効" ,checked: "checked"%> 有効会員 </label>
        <label><%= f.radio_button :withdrawal_status, "無効" %> 退会済み</label>
      </div>
      <div class="text-right"><%= f.submit "変更を保存する", class:"btn btn-primary" %></div>
      <% end %>
    </div>
  </div>
