<div class="container takasa">

  <h2>商品一覧</h2>

  <div class="text-right index-new">
    <%= link_to new_admin_item_path do %>
      <button type="button" class="btn btn-success btn-success btn-circle btn-lg">＋</button>
    <% end %>
  </div>

  <table class="table">
    <thead>
      <tr class="active"> <!-- active => 色をグレーに変更 -->
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.item_name %></td>
        <td><%= item.unit_price_without_tax %></td>
        <td><%= item.genre.name %></td>
        <td><%= item.sale_status %></td>
        <td><%= link_to "商品詳細", admin_item_path(item) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @items %>

</div>