<div class="container takasa">
  <div class="row">
    <div class="col-xs-3">
      <%= flash[:error] %>
    </div>

    <div class="col-xs-6">
      <br>
      <br>
      <h2 style="width: 460px;">会員の方はこちらからログイン</h2>
      <br>
      <br>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :メールアドレス %>　　　　　<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div><br><br>

        <div class="field">
          <%= f.label :パスワード %>　　　　　　　<%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="text-right">
        <%= render "members/shared/links" %>
        <%= link_to "=>管理者の方はこちら" , new_admin_session_path %></p>
        </div><br><br>

        <div class="actions">
          <%= f.submit "ログイン", class: "btn btn-primary btn-lg center-block" %>
        </div>
      <% end %>

      <br>
      <h3 style="width: 300px;background-color: #a6d3c8; text-align: center; color: white">登録がお済みでない方</h3>
      <p><%= link_to "こちら", "/members/sign_up" %>から新規登録をしてください</p><br>
    </div>
  </div>
</div>