<div class="container" style="height: 510px">
	<h2>登録情報編集</h2>
    <%= form_for (@member), url:public_members_path do |f| %>
    <div class="field">
        <%= f.label :"（姓）" %>
        <%= f.text_field :last_name %><br>
    </div>
    <div class="field">
        <%= f.label :"（名）" %>
        <%= f.text_field :first_name %><br>
    </div>
    <div class="field">
        <%= f.label :"（セイ）" %>
        <%= f.text_field :last_name_kana %><br>
    </div>
    <div class="field">
        <%= f.label :"（メイ）" %>
        <%= f.text_field :first_name_kana %><br>
    </div>
        <div class="field">
        <%= f.label :"メールアドレス" %>
        <%= f.email_field :email %><br>
    </div>
    <div class="field">
        <%= f.label :"電話番号" %>
        <%= f.text_field :phone_number %><br>
    </div>
    <%= f.submit "編集内容を保存" ,class:"btn btn-primary" %>
    <% end %>
    <br>
    <%=button_to "退会する", public_members_withdrawal_path, method: :get, class: "btn btn-danger" %>
</div>