
<div class="container takasa ">
  <div class="row ">


    <h3>ジャンル一覧・追加</h3>




    <!-- ジャンル用form_forで記載する時削除 -->
    <%= form_for @genre, url: admin_genres_path do |f| %>
    <div class="field row ">
      <lavel>ジャンル</lavel>
      <%= f.text_field :name %>
      <!-- ラジオボタンの記述 -->
      <label><%= f.radio_button :valid_invalid_status, "有効" ,checked: "checked"%> 有効 </label>
      <label><%= f.radio_button :valid_invalid_status, "無効" %> 無効</label>
      <%= f.submit "追加", class: "btn btn-primary" %>
    </div>
    <% end %>
    <br>
    <!-- ジャンル一覧 -->
    <table class = "table table-hover">
      <thead>
        <tr class="active">
          <th>ジャンル</th>
          <th>状態</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <tbody>
        <% @genres.each do |genre| %>
        <tr>
          <td><%= genre.name %></td>
          <td><%= genre.valid_invalid_status %></td>
          <td><%= link_to "編集する", edit_admin_genre_path(genre.id) ,class: "btn btn-primary" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>