<div class="container">
	<h2>注文情報入力</h2>
  <%= form_with(model: @order,local: true, url: {action: 'confirm' }) do |f| %>
  <div class="field row" style="margin-left:20px; ">
    <h4><strong>支払い方法</strong></h4>
    <!-- ラジオボタンの記述 -->
    <label style="margin-left: 60px;"><%= f.radio_button :payment_method, 1, checked: "checked"%> クレジットカード </label><br>
    <label style="margin-left: 60px;"><%= f.radio_button :payment_method, 0 %> 銀行振込</label>

    <h4><strong>お届け先</strong></h4>

<!-- 自身の住所  -->

    <label style="margin-left: 60px;"><%= f.radio_button :address_number,1,checked: "checked" %> ご自身の住所 </label><br>
<div style="margin-left:70px;"><%= current_member.postal_code %> <%= current_member.address %><br><%= current_member.last_name %><%= current_member.first_name %></div><br><br>
<!-- end -->

<!-- 登録済住所 -->
<div>
    <label style="margin-left: 60px;"><%= f.radio_button :address_number ,2%> 登録済からの選択</label><br>
    <div style="margin-left:80px; padding:0 100px;"><%= f.collection_select(:address, current_member.addresses.all, :id, :address_all)%><br><br>
    </div>

  </div>
<!-- end -->



<!-- 新規届け先 -->
    <label style="margin-left: 60px;"><%= f.radio_button :address_number,3 %> 新しいお届け先</label><br>
    <div style="display: flex; margin-left:15% ;">
      <div  style="display: flex flex-direction: column;  flex-wrap: wrap;  width: 60px;">
        <%= f.label :"郵便番号"%><br><br>
        <%= f.label :"住    所"%><br><br>
        <%= f.label :"宛    名"%><br><br>
      </div>
      <div style=" margin-left:20px; ">
        <%= f.text_field :postal_code  %><br><br>
        <%= f.text_field :shipping_address ,size: "60" %><br><br>
        <%= f.text_field :name %><br><br>
       <%= f.submit "確認画面に進む", class: "btn btn-primary text-cenrer" %>
      </div>
    </div>
    <% end %>
  </div>
</div>

