<div class="container">
	<h2>注文情報入力</h2>
<%= form_for @order, url: public_orders_confirm_path do |f| %>
        <div class="field row">
          <lavel>支払い方法</lavel>
          <!-- ラジオボタンの記述 -->
          <label><%= f.radio_button :payment_method, "クレジットカード" ,checked: "checked"%> クレジットカード </label>
          <label><%= f.radio_button :payment_method, "銀行振込",checked: "checked" %> 銀行振込</label>
          <%= f.submit "追加", class: "btn btn-primary" %>
         </div>

    <h4>お届け先</h4>
      <br>
  </div>
  <label><%= f.radio_button :name, "ご自身の住所" ,checked: "checked"%>ご自身の住所</label><br>
  <%= current_member.postal_code %> <%= current_member.address %><br><%= current_member.last_name %><%= current_member.first_name %><br>
  <label><%= f.radio_button :name, "登録済からの選択",checked: "checked" %> 登録済からの選択</label><br>
 <%= f.collection_select(:address, Address.all, :id, [:postal_code,:shipping_address,:name]) %>
    <option value=""></option>
    option
  </select>
  <label><%= f.radio_button :name, "新しいお届け先" ,checked: "checked"%> 新しいお届け先</label>
    <div>

    <input type="radio" name="gender" value="male">登録済住所から選択<br><br>
    <select name="Prefecture">
  　 <option value="1">登録済住所1</option>
  　 <option value="2">登録済住所1</option>
　　</select><br><br>
    <input type="radio" name="gender" value="male">新しいお届け先<br>
    <p>郵便番号
    <input type="text" name="post_code"></p>
    <p>住所
     <input type="text" name="adress"></p>
    <p>宛先
     <input type="text" name="name"></p>
    <button type="button" class="but btn-primary">確認画面に進む</button>
         <% end %>
 </div>
</div>