<div class="container takasa">
  <div class="row">

    <!-- ジャンル検索（パーシャル） -->
  	<%= render "public/shared/sidebar", genres: @genres %>
    <!-- 商品一覧 -->
    <div class="col-xs-1">
    </div>
    
  	<div class="col-xs-9">
  	  <h2><i class="fas fa-cookie-bite"></i>商品一覧<span style="font-size:20px;">（全<%= @quantity %>件）</span></h2><br>
  	    <div class="row">
  	      <% @items.each do |item| %>
            <div class="box" style="float:left; margin-right:20px;">
            <%= link_to public_item_path(item.id) do %> <!-- 画像をクリックしたら商品詳細画面へ遷移 -->
              <%= attachment_image_tag item, :image, size: "170x170",  fallback: "no_image.jpg"%><br>
            <% end %>
              <p><%= item.item_name %></p>
              <p>¥<%= (item.unit_price_without_tax*1.1).floor %></p> <!-- 税込計算式/.floor => 浮動小数点数の切り捨てを行うためFloatクラスのfloorメソッドを使用 -->
            </div>
          <% end %>
  	    </div>
        <div class="col-xs-6 col-xs-offset-4 ">
          <%= paginate @items %>
        </div> <!-- ページネーション用記載.コントローラに何項目ごとにページを分けるか記載 -->
  	</div>
  </div>
</div>