<!DOCTYPE html>
<html>
  <head>
    <title class="text-success">NaganoCake</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/5c442e0d91.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body data-turbolinks="false">
    <div id="wrapper">
      <!-- ここからnow loading -->
   <!--    <div id="loader-bg">
        <div id="loader">
         <img src="/assets/img-loading.gif" width="150" height="150" alt="Now Loading..." />
           <p>Now Loading...</p>
         </div>
      </div> -->
      <!-- now loadingここまで -->
      <!-- <div id="wrap"> -->
        <!-- headerの記述 -->
        <header>
          <div class="container">
            <nav class="nav navbar-nav navbar-left">
              <%= link_to root_path do %>
              <%= image_tag "logo2.png" %>
              <% end %>
            </nav>
            <nav>
              <ul class="nav navbar-nav navbar-right wf-mplus1p">
                <!-- 会員でログインしている時 -->
                <% if member_signed_in? %>
                  <li id="youkoso">ようこそ、<%= current_member.last_name %>さん！</li>
                  <li><%= link_to public_members_path do %><i class="fas fa-user"></i>マイページ<% end %></li>
                  <li><%= link_to public_items_path do %><i class="fas fa-cookie-bite"></i>商品一覧<% end %></li>
                  <li><%= link_to public_cart_items_path do %><div class="icon-flex"><i class="icon-count text-center"><%= current_member.cart_items.count %></i></div><i class="cart">カート</i><% end %></li>
                  <li><%= link_to destroy_member_session_path, method: :delete do %><i class="fas fa-sign-out-alt"></i>ログアウト<% end %></li>
                  <%= image_tag "cake.gif", :size =>'80x80' %>
                <!-- 管理者でログインしている時 -->
                <% elsif admin_signed_in?%>
                  <li><%= link_to ' 商品一覧', admin_items_path %></li>
                  <li><%= link_to ' 会員一覧', admin_members_path %></li>
                  <li><%= link_to ' 注文履歴一覧', admin_orders_path %></li>
                  <li><%= link_to ' ジャンル一覧', admin_genres_path %></li>
                  <li><%= link_to ' ログアウト', destroy_admin_session_path, method: :delete %></li>
                  <li><input name="search" placeholder="search　🔍"></li>
                <!-- ログインしていない時 -->
                <% else %>
                  <li><%= link_to public_items_path do %><i class="fas fa-cookie-bite"></i>商品一覧<% end %></li>
                  <li><%= link_to public_about_path do %><i class="fas fa-building"></i>会社概要<% end %></li>
                  <li><%= link_to new_member_registration_path do %><i class="fas fa-user-plus"></i>新規登録<% end %></li>
                  <li><%= link_to new_member_session_path do %><i class="fas fa-sign-in-alt"></i>ログイン<% end %></li>
                  <%= image_tag "cake.gif", :size =>'80x80' %>
                <% end %>
              </ul>
            </nav>
          </div>
        </header>

        <main id="content">
          <%= yield %>
        </main>

        <footer id="footer">
          <div class="icons">
            <a href="#" class="insta_btn" style=" margin-top: 10px;">
              <span class="insta"><i class="fab fa-instagram fa-lg"></i>
            </span></a>

            <div class="social-icons" style="margin: 5px 30px 0">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            </div>

            <a href="#" class="btn-social-icon-facebook" style=" margin-top: 10px;">
              <span class="btn-social-icon-facebook__square"><i class="fa fa-facebook"></i></span>
            </a>
          </div>
        </footer>
      <!-- </div> -->
    </div>
  </body>
</html>