<!DOCTYPE html>
<html>
  <head>
    <title class="text-success">NaganoCake</title>
     <%= link_to "管理者",new_admin_registration_path ,id: "keys"%>
      <%= link_to "会員", new_member_registration_path ,id: "keys"%>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/5c442e0d91.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="wrapper">
     <!-- headerの記述 -->
     <header>
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <%= link_to root_path do %>
          <%= image_tag "logo2.png" %>
          <% end %>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right wf-mplus1p">
            <!--if文でサインインとアウト時の表示を変更-->
            <% if member_signed_in? %>
              <li style="padding: 35px 80px 0 0; color: white;">ようこそ、<%= current_member.last_name %>さん！</li>
              <li><%= link_to ' マイページ', public_members_path %></li>
              <li><%= link_to ' 商品一覧', public_items_path %></li>
              <li><%= link_to ' カート', public_cart_items_path %></li>
              <li><%= link_to ' ログアウト', destroy_member_session_path, method: :delete %></li>
            <% elsif admin_signed_in?%>
              <li><%= link_to ' 商品一覧', admin_items_path %></li>
              <li><%= link_to ' 会員一覧', admin_members_path %></li>
              <li><%= link_to ' 注文履歴一覧', admin_orders_path %></li>
              <li><%= link_to ' ジャンル一覧', admin_genres_path %></li>
              <li><%= link_to ' ログアウト', destroy_admin_session_path, method: :delete %></li>
              <li><input name="search" placeholder="search　🔍"></li>
            <% else %>
              <li><%= link_to ' 商品一覧', public_items_path %></li>
              <li><%= link_to ' アバウト', public_about_path %></li>
              <li><%= link_to ' 新規登録', new_member_registration_path %></li>
              <li><%= link_to ' ログイン', new_member_session_path %></li>
            <% end %>

          </ul> 
        </nav>

      </div>
    </header>

    <main id="content">
      <%= yield %>
    </main>

  <footer id="footer">
    <div class="icons" style="text-align:center; line-height: 80px;">
      <i class="fab fa-instagram-square fa-lg"></i>
      <i class="fab fa-twitter-square fa-lg" style="margin:0 20px;"></i>
      <i class="fab fa-facebook-square fa-lg"></i>
      </div>
    </footer>
  </div>
  </body>
</html>